<% include include/head.ejs %>
<% include include/top.ejs %>
    <div class="container">
      <div class="page-header">
        <h1>Guardian</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
<% include include/bottom.ejs %>
