<% include include/head.ejs %>
<% include include/top.ejs %>
    <div class="container">
      <div class="page-header">
        <h1><i class="fa fa-lock"></i>&nbsp;Authorizations</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 scrollable">
          <div class="list-group" role="tabpanel" id="authorization-selector"></div>
        </div>
        <div class="col-md-6">
          <div class="tab-content" id="authorization-content"></div>
        </div>
      </div>
    </div>
    <% include include/scripts.ejs %>
    <script>
      // Load teh datas
<% Object.keys(users).forEach(function(id) { -%>
      accounting.user('<%= id %>', <%- JSON.stringify(users[id]) %>);
<% }); -%>

<% Object.keys(authorizations).forEach(function(id) { -%>
      accounting.authorization('<%= id %>', <%- JSON.stringify(authorizations[id]) %>);
<% }); -%>
    </script>
    <script src="/_asset/app/js/authorization.js"></script>
<% include include/bottom.ejs %>
