<!-- include/top -->
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/_manage"><i class="fa fa-md fa-shield"></i>&nbsp;Guardian</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/_manage/users"><i class="fa fa-user"></i>&nbsp;Users</a></li>
            <li><a href="/_manage/authorizations"><i class="fa fa-lock"></i>&nbsp;Authorizations</a></li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <% if (authenticated) { -%>
            <li><a href="<%= prefix %>/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
            <% } -%>
          </ul>
        </div>
      </div>
    </div>
<!-- end include/top -->
