<% include ../include/head.ejs %>
<% include ../include/top.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-6">
              <h1>Failure</h1>
              <h4>Unable to to validate identity.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include ../include/scripts.ejs %>
<% include ../include/bottom.ejs %>
