<% include ../include/head.ejs %>
<% include ../include/top.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-6">
              <h1>Success</h1>
              <h4>You have been logged out.</h4>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-success btn-lg pull-right" href="/_authn/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include ../include/scripts.ejs %>
<% include ../include/bottom.ejs %>
